.shop{
    min-height: 100vh;
    width:70%; 
    margin:75px auto 0px auto;
    display:flex;
    flex-direction: row;
    font-family: 'Montserrat';
    font-weight: 100;
    @media screen and (min-width:1024px) and (max-width:1366px) {
        width:90vw;
    }
    @media screen and (min-width: 766px) and (max-width:1023px) { 
        width:95vw;
    }
    @media screen and (max-width:765px) {
        width:100%;
    }
    &__nav{
        min-height:100vh;
        position: relative;
        @media screen and (max-width:1023px) {
            display:none;
        }
        &__content{
            height:max-content;
            h3{
                width:max-content;
            }
            b{
                margin-left:5px;
            }
            
            &__list{
                &__categories{
                    margin:0 auto;
                    display:flex;
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;
                    font-size: 18px;
                    height:50px;
                    color:white;
                    background-color: black; 
                    h3{
                        font-weight: 300;
                    }
                        img{
                            height:20%;
                            margin:2px 0 0 5px;
                        }
                }
                &__fakeitem{
                    height:50px;
                    width:300px;
                    display:flex;
                    align-items: center;
                    &__content{
                        background-color: rgb(192, 192, 192);
                        height:15px;
                        width:90%;
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            background-color: rgb(192, 192, 192);
                            right:-30px;
                            top:0;       
                            height:15px;
                            width:15px;
                        }
                    }
                }
                &__item{
                    font-size: 16px;
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    transition:.5s ease;
                    &:hover h3{
                        text-decoration: underline;
                        }
                    b{
                        color: #383838;
                        padding-left: 80px;
                    }
                }
                .odd{
                    transition:.5s ease;
                    transform: translateX(-100px);
                    opacity:0;
                    visibility:hidden;
                }
                .even{
                    transition:.5s ease;
                    transform: translateX(100px);
                    opacity:0;
                    visibility:hidden;
                }
            }
        }
    }
    .border{
        transition: .5s;
        transition-delay: .3s;
    }
    &__feed{
        margin:0px 120px 90px 0px;
        width:100%;
        @media screen and (max-width:1023px) {
            margin:0px auto 50px auto;
        }
        .category{
            width:100%;
            &__title{
                height:50px;
                
                width:100%;
                color:white;
                background-color: black;
                display:flex;
                align-items: center;
                h1{ 
                    text-align: center;
                    font-weight: 400;
                    width:100%;
                    @media screen and (max-width:766px) {
                        font-size: 26px;
                        text-align: center;
                        padding:0;
                        width:100%;
                    }
                }
            }

            &__items{
                @media screen and (max-width:520px) {
                    column-count: 2;
                    column-gap: 15px;
                }
                @media screen and (min-width:521px) and (max-width:766px) {
                    column-count: 2;
                    column-gap: 10px;
                }
                column-count: 3;
                column-gap: 2.5em;
                margin-top: 33px;
                &__fakeitem{
                    break-inside: avoid-column;
                    margin:0 0 15px;
                    width: 100%;
                    height:max-content;
                    &__content{
                        height:100%;
                        width:100%;
                        .underFakeImage{
                            margin-top: 15px;
                            width:100%;
                            height:100px;
                            display:flex;
                            align-items: center;
                            &__content{
                                width:100%;
                                height: 15px;
                                background-color: rgb(192, 192, 192);
                            }
                        }
                        .fakeImg1{
                            height:250px;
                            width:100%;
                            background-color: rgb(192, 192, 192);
                            
                        }
                        .fakeImg2{
                            height:350px;
                            width:100%;
                            background-color: rgb(192, 192, 192);
                            
                        }
                        .fakeImg3{
                            height:150px;
                            width:100%;
                            background-color: rgb(192, 192, 192);
                            
                        }
                    }
                }
                &__item{
                    break-inside: avoid-column;
                    margin:0 0 15px;
                    width: 100%;
                    cursor: pointer;
                    @media screen and (max-width:766px) {
                        width:100%;
                        margin: 0 auto;
                    }
                    .underImage{
                        padding: 5px;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        position: relative;
                        width:100%;
                        @media screen and (max-width:1023px) { 
                            padding: 15px 0 25px 0;
                        }
                        .topSide{
                            display: flex;
                            justify-content: space-between;
                            width:100%;
                            span{
                                font-weight: 600;
                                @media screen and (max-width:1023px) { 
                                    font-size: 26px;
                                }
                                font-size: 20px;
                            }
                        }
                        .desc{
                            font-weight: 600;
                        }
                    }
                    .image{
                        position: relative;
                        width:100%;
                        height:100%;
                        &:hover .image__open{
                            opacity:1;
                            transition: .3s;
                            background-color: rgba(148, 148, 148, 0.5);
                        }
                        &__open{
                            transition: .3s;
                            opacity:0;
                            position:absolute;
                            top:0;
                            left:0;
                            height:100%;
                            width:100%;
                            z-index: 5;
                            display:flex;
                            justify-content: flex-end;
                            &__tool{
                                height:42px;
                                width:42px;
                                background-color: white;
                                border-radius: 50%;
                                z-index: 15;
                                display: flex;
                                justify-content: center;
                                align-items:center;
                                margin:10px;
                                z-index: 50;
                                &:hover{
                                    background-color: rgb(150, 150, 150);
                                }
                                #cart{
                                    height:50%;
                                    
                                }
                            }
                        }
                        #thumbnail{
                            transition: .3s;
                            width:100%;
                            margin: 0;
                            box-shadow: 2px 2px 6-px black;
                        }
                    }
                }
            }
        }
    }  
}
.fullHDPreview{
    width: 100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    overflow-y:scroll;
    background-color: rgba(0, 0, 0, 0.7);
    transition: .5s;
    &__content{
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        .preview{
            height:80%;
            display:flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img{
                height:100%;
                &:hover ~ .HDTools{
                    opacity:1;
                    transition: .5s;
                }
            }
            .HDTools{
                opacity:0;
                position:absolute;
                height:45px;
                right:15px;
                bottom:15px;
                display:flex;
                flex-direction: row;
                align-items: center;
                padding:5px 10px;
                background-color: rgba(180, 180, 180, 0.4);
                border-radius: 10px;
                @media screen and (max-width:768px) {
                    opacity:1;
                }
                &:hover{
                    opacity:1;
                }
                &__item{
                    height:80%;
                    margin:0 15px;
                    padding:5px;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover{
                    background-color:rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }
}

.singleProduct{
    width:70%;
    min-height: 100vh;
    margin:125px auto 70px auto;
    @media screen and (min-width:1024px) and (max-width:1366px) {
        width:89vw;
    }
    @media screen and (max-width:1024px) { 
        width:95vw;
    }
    display: flex;
    flex-direction: column;
    &__content{
        display:flex;
        width:100%;
        position: relative;
        @media screen and (max-width:766px) {
            flex-direction: column;
            margin: 0 auto;
            width:100%;
            justify-content: flex;
        }
        .thumbnails{
            @media screen and (max-width:1366px) {
                visibility: hidden;
                display: none;
            }       
            width:80px;
            height:max-content;
            display: flex;
            flex-direction: column;
            position:absolute;
            left:-118px;
            padding:5px 10px;
            background-color: rgb(53, 52, 52);
            .thumbnail{
                margin-top:10px;
                display: flex;
                box-sizing: border-box;
                justify-content: flex-start;
                img{
                    width:100%;
                    
                }
                .active{
                    box-shadow: 0px 0px 0px black;
                }
                
            }
        }
        .gallery{
            display:flex;
            flex-direction: row;
            width:55vw;
            position: relative;
            height:max-content;
            @media screen and (max-width:1023px) {
                justify-content: flex-start;
            }
            @media screen and (max-width:766px) {
                width:90vw;
            }
            .item{
                width:100%;
                object-fit: contain;
                @media screen and (max-width:1366px) {
                    width:100%;
                    justify-content: flex-start;
                }
                img{
                    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
                    width:100%;
                    object-fit: cover;
                    @media screen and (min-width:821px) and (max-width:1024px) {
                        width:100%;
                    }
                }
            }
            .thumbnails-mobile{
                align-items: center;
                width: 90vw;
                flex-wrap: wrap;
                height:100px;
                justify-content: flex-start;
                display: flex;
                flex-direction: row;
                padding:10px 15px;
                margin:15px auto 0 auto;
                background-color:rgb(75, 72, 72);
                @media screen and (min-width:1366px) {
                    visibility: hidden;
                    display: none;
                }
                &-thumbnail{
                    margin-top: 10px;
                    display: flex;
                    box-sizing: border-box;
                    justify-content: flex-start;
                    width:85px;
                    height:85px;
                    margin-top:0;
                    margin-left: 10px;
                    border:2px solid black;
                    img{
                        width:100%;
                        object-fit: cover;
                    }
                    .active{
                        box-shadow: 0px 0px 6px white;
                    }   
                }
            }
        }
        .productInfo{
            min-height:60vh;
            width:40vw;
            display:flex;
            justify-content: center;
            @media screen and (min-width:821px) and (max-width:1023px) {
                width:38.5vw;
                justify-content: flex-start;
            }
            @media screen and (max-width:766px) {
                width:95vw;
                margin:30px auto 50px 0px;
            }
            &__content{
                width:100%;
                display:flex;
                justify-content: flex-end;
                @media screen and (max-width:1023px) {
                    justify-content: flex-start;
                }
                &-menu{
                    width:90.5%;
                    height:max-content;
                    display:flex;
                    justify-content: space-between;
                    flex-direction: row;
                    flex-wrap: wrap;
                    position: relative;
                    @media screen and (max-width:1023px) {
                        width:95%;
                        margin:0 auto;
                    }
                    .item{
                        border:none;
                        cursor: pointer;
                        z-index: 2;
                        width:48%;
                        height:55px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        @media screen and (max-width:766px) {
                            font-size: 1.75rem;
                        }
                    }
                }
                &-marginElement{
                    height:15px;
                    width:48%;
                    background-color: rgb(203, 203, 203);
                    margin-top:-1px;
                    @media screen and (min-width:500px) and (max-width:766px) {
                        height:20px;
                    }
                }
                &-underMenu{
                    padding:0 15px;
                    background-color: rgb(203, 203, 203);
                    width:100%;
                    min-height: 70vh;
                    margin-top:-1px;
                    .sizes{
                        display:flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width:100%;
                        margin-bottom: 20px;
                        @media screen and (min-width:520px) and (max-width:766px) {
                            margin: 20px 0;
                        }
                        &-size{
                            @media screen and (min-width:520px) and (max-width:766px) {
                                font-size: 1.35rem;
                                padding:13px 15px;
                            }
                            font-size: 16px;
                            cursor: pointer;
                            border:none;
                            background-color: white;
                            padding:3px 5px;
                            border-radius: 10px;
                        }
                    }
                    h2{
                        font-weight: 300;
                        width:100%;
                        font-size: 30px;
                        font-style: italic;
                        @media screen and (min-width:520px) and (max-width:766px) {
                            font-size: 2rem;
                        }
                    }
                    h3{
                        @media screen and (min-width:520px) and (max-width:766px) {
                            font-size:1.6rem;
                        }
                    }
                    h4{
                        font-weight: 300;
                        width:100%;
                        font-size: 20px;
                        @media screen and (min-width:520px) and (max-width:766px) {
                            font-size: 1.5rem;
                        }
                    }
                    &-price{
                        margin:30px 0;
                        padding: 25px 0;
                        height:max-content;
                        width:108.5%;
                        @media screen and (max-width:520px) {
                            width:108.5%;
                            
                        }
                        @media screen and (min-width:520px) and (max-width:766px) {
                            width:106.5%;
                            padding:50px 0;
                        }
                        @media screen and (min-width:821px) and (max-width:1024px) {
                            width:108.5%;
                            padding:50px 0;
                        }
                        .priceStrong{
                            font-size: 2rem;
                            @media screen and (min-width:821px) and (max-width:1024px) {
                                font-size: 2rem;
                            }
                        }
                        background-color: rgb(75, 72, 72);
                        position: relative;
                        display:flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        &::after{
                            content:'';
                            background-color: black;
                            position: absolute;
                            bottom:-45px;
                            right:19px;
                            height:90px;
                            width:90px;
                            transform: rotate(45deg);
                            z-index:-2;
                        }
                        &::before{
                            content:'';
                            background-color: rgb(75, 72, 72);
                            height:100%;
                            width:8.5%;
                            position: absolute;
                            right:0;
                            top:0;
                        }
                        &-priceValue{
                            width:30%;
                            display:flex;
                            align-items: center;
                            height:70px;
                            justify-content: center;
                            font-size: 22px;
                            color:white;
                            @media screen and (max-width:766px) {
                                width:20%;
                            }
                        }
                        &-orderBtn{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            button{
                                @media screen and (min-width:520px) and (max-width:766px) {
                                    font-size: 1.5rem;
                                }   
                                cursor: pointer;
                                text-align: center;
                                font-size: 15px;
                                border:none;
                                background-color: rgb(247, 183, 21);
                                color:rgb(248, 248, 248);
                                padding:10px 15px;
                                width:max-content;
                            }
                        }
                        &-descriptions{
                            width:75%;
                            display:flex;
                            height:max-content;
                            justify-content: flex-start;
                            margin:0 auto;
                            flex-direction: column;
                            .desc{
                                width:max-content;
                                h3{
                                    font-weight: 300;
                                    font-size: 18px;
                                    color:white;
                                    @media screen and (min-width:520px) and (max-width:766px) {
                                        font-size: 1.7rem;
                                    }
                                }
                            }
                        }
                    }
                    h3{
                        font-size: 1.7rem;
                    }
                }
            }    
        }
    }
    .itemDesc{
        margin-top: 20px;
        background-color: rgb(75, 72, 72);
        @media screen and (max-width:766px) {
            margin: 0px auto 0px auto;
            width:95%;
        }
        h1{
            text-align: center;
            @media screen and (min-width:570px) and (max-width:766px) {
                font-size: 2.75rem;
            }
        }
        &-description{
            font-style: italic;
            font-weight: 300;
            text-align: center;
            width:max-content;
            padding:5px;
            margin:75px auto;
            @media screen and (min-width:570px) and (max-width:766px) {
                width:80%;
                margin:50px auto 30px auto;
                font-size: 2.25rem;
            }
            @media screen and (max-width:570px) {
                width:80%;
                margin:50px auto 30px auto;
                font-size: 1.55rem;
            }
        }

    }
    .sizesDesc{
        margin:75px 0;
        width:100%;
        display:flex;
        background-color: rgb(75, 72, 72);
        @media screen and (max-width:766px) {
            flex-direction: column;
            justify-content: center;
            align-items: inherit;
            margin: 50px 0;
        }
        justify-content: space-evenly;
        align-items: baseline;
        &-headline{
            font-style: italic;
            font-weight: 300;
            text-align: center;
            width:max-content;
            padding:5px 15px 5px 10px;
            margin:0 auto;
            @media screen and (min-width:570px) and (max-width:766px) {
                font-size: 2rem;
            }
        }
        &-original{
            display:flex;
            justify-content: center;
            width:45%;
            flex-direction: column;
            @media screen and (min-width:570px) and (max-width:766px) {
                width:80%;
                margin:0 auto;
                font-size: 1.5rem;
            }
            @media screen and (max-width:570px) {
                width:80%;
                margin:0 auto;
                font-size: 1rem;
                text-overflow: clip;
            }
        }
        &-copy{
            display:flex;
            justify-content: center;
            width:45%;
            flex-direction: column;
            @media screen and (max-width:766px) {
                width:80%;
                margin:30px auto 0 auto;
                font-size: 1.5rem;
            }
            @media screen and (max-width:570px) {
                width:100%;
                margin:20px auto;
                font-size: 1rem;
            }
        }
        h3{
            width: max-content;
            margin:0 auto;
            padding:15px 5px 0px 5px;
            @media screen and (max-width:570px) {
                width:90%;
                text-align: center;
            }
        }
    }
}


.shopNav{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    @media screen and (max-width:1024px) {
        margin-bottom:30px;
    }      
    .buttonBack{
        width:max-content;
        border:none;
        display: flex;
        align-items: center;
        font-size: 20px;
        &:hover > .buttonBack__text{
            border-bottom: 1px solid black;
        }
        @media screen and (max-width:1024px) {
            font-size: 25px;
        }        
        img{
        @media screen and (max-width:766px) {
            
            font-size: 25px;
        }        
            margin-right:5px;
            height:15px;
            transform: rotate(-90deg);
        }
        &__text{
            border-bottom: 1px solid transparent;
        }
    }
}
.responsiveWidth{
        width:70%;
        display:flex;
        margin: 25px auto;
        @media screen and (min-width:1024px) and (max-width:1366px) {
            width:90%;
        }
        @media screen and (min-width:766px) and (max-width:1024px) {
            width:95%;
        }
        @media screen and (max-width:766px) {
            width:97%;
        }
}
.cursor {
    background-color: #111;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }
.descWrapper{
    width:100%;
    height:max-content;
    display:flex;
    align-items: center;
    background-color: rgb(75, 72, 72);
    flex-direction: column;
    color:white;
    font-variant: small-caps;
    text-shadow: 2px 2px 8px rgb(0, 0, 0); 
    margin: 50px auto 0px auto;
    padding-bottom:100px;
    position: relative;
    .canvasWrapper{
        width:100%;
        position: relative;
        .sign{
            position: absolute;
            left:50%;
            top:0;
            transform: translateX(-50%);
            z-index: 10;
            user-select: none;
        }
        .tools{
            position: absolute;
            left:50%;
            bottom:20px;
            transform: translateX(-50%);
            z-index: 10;
            width:max-content;
            background-color: rgba(26, 26, 26, 1);
            flex-direction: row;
            display: flex;
            align-items: center;
            border-radius: 8px;
            &-item{
                height:50px;
                width:50px;
                background-color: rgba(145, 145, 145, 0.5);
                margin:10px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                border:none;
                &:hover{
                    background-color:rgba(167, 167, 167, 0.753);
                    cursor: pointer;
                }
                img{
                    height:35px;
                }
            }
        }
        &_onTop{
            height:100%;
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            top:0;
            display:flex;
            align-items: center;
            justify-content: center;
            
            button{
                background-color: black;
                color:white;
                border:none;
                padding:15px;
                border-radius: 8px;
            }
        }
    }
    h1{
        height:150px;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding: 0;
        &::after{
            position: absolute;
            top:-60%;
            left:50%;
            transform: translateX(-50%) rotate(45deg);
            height:550px;
            width:25px;
            background-color: rgba(95, 85, 85, 0.377);
            content: '';
        }
        &::before{
            position: absolute;
            top:-60%;
            left:53%;
            transform: translateX(-50%) rotate(45deg);
            height:550px;
            width:25px;
            background-color: rgba(95, 85, 85, 0.377);
            content: '';
            @media screen and (min-width:1024px) and (max-width:1466px) {
                left:56%;
            }
            @media screen and (min-width:768px) and (max-width:1024px) {
                left:58%;
            }
            @media screen and (max-width:768px) {
                left:63%;
            }
        }
    }
    p{
        text-align: center;
        font-size: 25px;
    }
}